.about-div {
  background-color: #fffff4;

  height: fit-content;

  padding: 2vw;
  margin: 1vh;
  border-radius: 0.7vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.selfie {
  width: 280px;
  height: 200px;
}
