.zach {
  font-size: 100px;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description {
  font-style: italic;
}
.bio-container {
  margin: 0 auto; /* Center the container horizontally */
  max-width: 960px; /* Set a maximum width for the container */
  width: 100%; /* Make sure the container fills the available space */
  padding: 20px; /* Add some padding to the container */
  box-sizing: border-box; /* Make sure padding is included in the container's width */
  background-color: #fffff4;
  border-radius: 1vw;
}
