.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #60a6ab;
  border-top: black solid 0.1vw;
  position: fixed;
}

.avatarr {
  border-radius: 50%;
  margin-left: 60vw;
}

.Email {
  width: fit-content;
  height: fit-content;
  margin-left: 1.9vw;
  padding-bottom: 3vh;
}
.instagram {
  width: fit-content;
  height: fit-content;
  margin-left: 1.9vw;
  padding-bottom: 3vh;
}
