.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  background-color: #ed5c2c;
  border: 3px black solid;
}

.avatar {
  margin-left: 1em;
}

.home-button {
  margin-left: 1em;
}

.nav {
  display: flex;
  justify-content: center;
  margin-right: ;
}
