.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  background-color: #ed5c2c;
  border: 2px black solid;
}

.avatar {
  margin-left: 1em;
}

.home-button {
  margin-left: 1em;
  display: flex;
  justify-content: flex-start;
  height: 7vh;
}

.nav {
  display: flex;
  justify-content: center;
}
