a {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  padding-top: 2vw;
}

.right-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: saturate(120%) blur(10px);
  background: rgba(255, 255, 255, 0.26);
  border-radius: 160px;
  box-shadow: 0 4px 30px rgba(251, 251, 251, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  margin: 2.2vw;
}
.dropdown-buttons {
  display: flex;
  padding-bottom: 1vh;
}

li {
  list-style: none;
  margin: 0.5vw;
  padding: 0.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
